---
import type { ImageEntry } from "@/lib/types";
import GalleryNav from "./GalleryNavOld";

interface Props {
  images: ImageEntry[];
}

const { images } = Astro.props;

const projectParam = Astro.url.searchParams.get("project");
const imageParam = Astro.url.searchParams.get("image");

const getSrcSet = (image: ImageEntry) =>
  `${image.filePaths.w844} 844w, ${image.filePaths.w1024} 1024w, ${image.filePaths.w1600} 1600w, ${image.filePaths.w2560} 2560w`;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      images.map((image, index) => (
        <img
          id={`#${image.project}-${index}`}
          srcset={getSrcSet(image)}
          sizes="100vw"
          src={image.filePaths.w1024}
          alt={image.filename}
          class="swiper-slide w-auto h-auto object-contain"
        />
      ))
    }
  </div>

  <GalleryNav
    client:only="react"
    projectParam={projectParam}
    imageParam={imageParam}
  />
</div>
